# Kconfig - STM32 MINI A15 board configuration
#
# Copyright (c) 2016 Cadence Design Systems, Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_ESP32

config BOARD
	default esp32

endif # BOARD_ESP32
